/* Adicionando o grid-cols-4 para definir 4 colunas */
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr); /* Define 4 colunas iguais */
}

/* Definindo o grid em geral */
.grid {
  display: grid;  
}

/* Se precisar de outros estilos para o grid */
.gap-16 {
  gap: 16px;  /* Espaçamento entre as imagens */
}

#featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
}

#featured figure {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

#featured figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}